@if (faceSnapPreview$ | async; as faceSnap) {
	<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped  }">
		<h2>{{ faceSnap.title | uppercase }}</h2>
		<p>FaceSnap créée le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
		@if (faceSnap.location) {
			<p>{{ faceSnap.location }}</p>
		} @else {
			<p>Localisation non déterminée</p>
		}
		<img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" >
		<p>{{ faceSnap.description }}</p>
		<p>
			<button (click)="onSnap(faceSnap.id)">{{ snapButtonText }}</button>
			<span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
		</p>
	</div>
	<a class="back-button" routerLink="/snapfaces">BACK</a>
}
